DOXYFILE_ENCODING       = UTF-8
PROJECT_NAME            = testrun_lib
PROJECT_NUMBER          = 0.0.1
PROJECT_LOGO            = doxygen/logo_doxygen.png

PROJECT_BRIEF           = "testrun_lib library"

USE_MDFILE_AS_MAINPAGE  = README.MD

OUTPUT_DIRECTORY        = doxygen/documentation

CREATE_SUBDIRS          = NO
ALLOW_UNICODE_NAMES     = NO
OUTPUT_LANGUAGE         = English

MARKDOWN_SUPPORT        = YES
AUTOLINK_SUPPORT        = YES

INPUT                   = README.MD include/ src/ tests/
INPUT_ENCODING          = UTF-8
FILE_PATTERNS           = *.h *.c *.js *.py *.sh

RECURSIVE               = YES
EXCLUDE_SYMLINKS        = YES
